.qr-code {
    width: 100%;
    max-width: 1000px; /* Establece el tamaño máximo que tendrá el QR */
    margin: 0 auto; /* Centra el QR */
    display: block; /* Asegura que la imagen sea un bloque y no se desborde */
}
  