<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>¿Problemas con tu asistencia?</h2>
  <div class="problem-container"></div>
    <p>* No apareces registrado</p>
    <p>* Problemas con Usuario</p>
    <p>* No tienes acceso</p>
  <br>
  <br>

  <div class="contact-container">
    <ion-icon name="logo-whatsapp" class="whatsapp-icon"></ion-icon>
    <span class="contact-text">Contáctanos al WhatsApp</span>
  </div>
  <div class="additional-info">
    <p class="phone-number">+56 9 3422 0830</p>
    <p class="working-hours">Hablemos de lunes a sábados 
      <br>de 09:00 a 19:00 h.</p>
      <div class="contact-button">
        <a href="https://w.app/lWAzTa" target="_blank" class="button-link">
          <ion-button expand="full" color="secondary">WhatsApp</ion-button>
        </a>
      </div>
    </div>
    <br>
    
    <div class="contact-container">
      <ion-icon name="call-outline" class="call-icon"></ion-icon>
      <span class="contact-text">Llámanos</span>
    </div>
    <div>
        <p class="phone-number">(+56) 2 2585 6990</p>
        <p class="working-hours">Llámanos de lunes a sábados 
          <br>de 08:30 a 18:00 hr.</p>
          <a href="tel:+56225856990" class="button-link">
            <ion-button expand="full" color="secondary">Llamar</ion-button>
          </a>
      </div>
      <br>
      
    <div class="contact-container">
      <ion-icon name="logo-instagram"></ion-icon>
      <span class="contact-text">Hablanos a IG</span>
    </div>
    <div>
      <p class="phone-number"> Hablanos en el momento que quieras 24/7 
        <br>disponible</p>
    </div>
    <a href="https://www.instagram.com/duoc_plazavespucio/?hl=es" class="button-link">
      <ion-button expand="full" color="secondary">Instagram</ion-button>
    </a>


    
</ion-content>







