<ion-header>
  <ion-toolbar>
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <div class="profile-box">
      <h1 class="profile-title"><u>Perfil DuocUC</u></h1> 

      <div class="profile-content">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
        <div class="profile-info">
          <h3>Usuario: {{ username }}</h3>
          <p>Email: {{ mail }}</p>
          <p>Periodo: 2024 - 2 </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
