<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Escaner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <p class="custom-text">¡Escanea para marcar tu asistencia!</p>
  <div class="image-container">
    <img class="imagen" alt="imagen" src="https://cdn-icons-png.flaticon.com/512/96/96977.png">
  </div>
  <!-- Botón para activar la cámara -->
  <ion-button expand="block" color="primary" (click)="activateCamera()">
    Activar Cámara
  </ion-button>
</ion-content>
